<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=page.title%></title>
  </head>
  <body>
    <h1>Events Page</h1>
    <h1><%=page.heading%></h1>
    <p><%=page.description%></p>

    <div>
      <p>Create a new event</p>
      <form action="create_event" method="post">
        <p>
          Title:
          <input id="create_title" type="text" name="title" />
        </p>
        <p>
          Description:
          <input id="create_desc" type="text" name="description" />
        </p>
        <button type="submit">Create a new event</button>
      </form>
    </div>
  </body>
</html>
