<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Site Settings</title>
  </head>
  <body>
    <h1>Site Settings Page</h1>

    <!-- <form action="add-user" method="post">
      <p>User: <input id="user" type="text" name="user_name" /></p>
      <button type="submit">Create a new user record</button>
    </form> -->
    <p>Home Page Settings</p>
    <form action="home_page_settings" method="post">
      <p>Title: <input id="id_home_page_settings" type="text" name="home_page_title" /></p>
      <p>Header: <input id="id_home_page_settings" type="text" name="home_page_header" /></p>
      <p>Description:<input id="id_home_page_settings" type="text" name="home_page_desc" /></p>
      <button type="submit">Update the Home Page</button>
    </form>

    <p>Home page heading</p>
    <p>Home page desc</p>

    <p>Org page title</p>
    <p>Org page heading</p>
    <p>Org page desc</p>

    <p>Edit Event page title</p>
    <p>Edit Event page heading</p>
    <p>Edit Event page desc</p>

    <p>Site Setting page title</p>
    <p>Site Setting page heading</p>
    <p>Site Setting page desc</p>

    <p>Attendee page title</p>
    <p>Attendee page heading</p>
    <p>Attendee page desc</p>

    <p>Attendee event page title</p>
    <p>Attendee event page heading</p>
    <p>Attendee event page desc</p>

    <!-- <form action="add-user" method="post">
      <p>User: <input id="user" type="text" name="user_name" /></p>
      <button type="submit">Create a new user record</button>
    </form> -->
  </body>
</html>
